body {
    background-image: url('../images/mesob.jpg');
    background-color: #F9FAFC;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.red-e {
    color: #E84610;
}

.green-o {
    color: green;
}


.navbg {
    background-color: burlywood;
    font-weight: 600;
}

.welcome {
    color: #23BBBB;
    margin-top: 100px;
    margin-bottom: 30px;
}

.log-regist {
    color: whitesmoke;
}

#msg {
    color: darkcyan;
}

.table {
    margin-top: 50px;
}

.table thead tr th,
.table tbody tr td {
    border: none;
}

.book {
    margin-top: 25px;
}

.update {
    margin-top: 25px;
}


.btn-signup {
    background-color: coral;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #23BBBB;
    color: whitesmoke;
}

.link {
    color: coral;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #23BBBB;
    text-decoration: underline;
}

/* For screens  with 414px and down */
@media screen and (max-width:414px) {

    /* background-image */
    body {
        background: #F9FAFC;
        background-image: url('/static/images/mesob.jpg');
        background-position: center;
        background-repeat: no-repeat;
    }

    .welcome {
        margin-top: 30px;
        color: blue;
        font-weight: 800;
    }
}
