{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Home page -->
        <div class="col-12 mt-4 left">
            <div class="row">
                <div class="col-md-4">
                   <div>
                       <h2>My bookings</h2>
                   </div>

                   <!-- {{bookings}} -->

                   <table class="table">

                    {% for book in bookings %}
                    <tr>

                        <td> {{ book.first_name}} </td>

                        <td> {{ book.number_of_guests}}</td>

                        <td> {{ book.date_and_time}}</td>

                        <td>
                          <a class="btn btn-primary" href="/update/{{book.id}}" role="button">Update booking</a>
                            <!-- <a href="#">
                                <button type="button" class="btn btn-primary"> Update booking</button>
                            </a> -->
                        </td>

                        <td>
                          <a class="btn btn-primary" href="#" role="button">Cancel booking</a>
                            <!-- <a href="#">
                                <button type="button" class="btn btn-primary"> Cancel booking</button>
                            </a> -->
                        </td>

                      </tr>

                        {% empty %}
                        <tr>
                            <td> You have no bookings</td>
                        </tr>

                      {% endfor %}

                    </table>
                      <a href="booking">
                                <button type="button" class="btn btn-primary">Book</button>
                      </a>
                    <!-- <a href="#">Book</a> -->
                </div>
            </div>

        </div>
    </div>
</div>

{%endblock%}
<!-- <a class="btn btn-primary" href="#" role="button">Link</a> -->