{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Home page -->
        <div class="col-12 mt-4 left">
            <div class="row">
                <div class="col-md-4">
                   <div>
                       <h2>Welcome to Mesob restaurant</h2>
                       <hp>Please Register / Loign to dine with us</p>
                   </div>
                </div>
            </div>

        </div>
    </div>
</div>

{%endblock%}